/* ---------- COLOR ---------- */
$primary-color: #3da88b;
$primary-darken-color: #246352;
$primary-lighten-color: #97e6d0;

$secondary-color: #fa9746;
$secondary-darken-color: #ebae7f;
$secondary-lighten-color: #c47333;

$success-color: #3da88b;
$success-lighten-color: #97e6d0;
$success-darken-color: #246352;
$warning-color: #ffa726;
$warning-lighten-color: #ffb74d;
$warning-darken-color: #f57c00;
$error-color: #df4759;
$error-lighten-color: #e57373;
$error-darken-color: #d32f2f;
$info-color: #29b6f6;
$info-lighten-color: #4fc3f7;
$info-darken-color: #0288d1;

$disabled-color: #999999;

$white-color: #fff;
$black-color: #000;

$grey-theme-color: #ebebec;
$grey-border-color: #ccc;
$grey-box-shadow: #888888;

/* ---------- FONT ---------- */
$small-size: 10px;
$normal-size: 16px;
$big-size: 18px;
$large-size: 24px;
$huge-size: 32px;
$super-size: 48px;
$extreme-size: 64px;
$massive-size: 84px;

$normal-weight: 100;
$big-weight: 500;
$heavy-weight: 700;
$bold-weight: 900;
